<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 为根元素节点， 一个namespace对应一个dao -->
<mapper namespace="com.jnshu.Mapper.StudentDao">
    <!--查-->
    <select id="findStudentById" parameterType="int" resultType="com.jnshu.Pojo.Student">
      SELECT * from students where id=#{id}
    </select>
</mapper>